.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  background-color: #fff;
}

.links {
  display: flex;
  align-items: center;
  gap: 20px;
}

.link:hover {
  color: #EB6440;
}
