.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  background-color: #fff;
}

.links {
  display: flex;
  align-items: center;
  gap: 20px;
}

.link:hover {
  color: #eb6440;
}

.image {
  width: 40px;
}

.logout {
  cursor: pointer;
}

.logout:hover {
  color: #eb6440;
}

.logo {
  cursor: pointer;
}
