.dashboard {
  max-width: 960px;
  margin: 0 auto;
}

.create {
  background-color: #fff;
  display: flex;
  margin: 20px 0;
  padding: 20px;
  border-radius: 2px;
  gap: 10px;
}

.input {
  outline: none;
  padding: 10px;
  font-size: 14px;
  width: 100%;
}
