@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
button {
  font-family: "Roboto", sans-serif;
  background-color: #d6e4e5;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}
